.heading {
    font-size: 27px;
    font-weight: 700;
    margin: 15px 0 20px;
}

body {
    color: #333;
    font-family: roboto-oh5, sans-serif;
    font-size: 16px;
    line-height: 1.65;
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
}


.logo {
    width: 128px;
}

.main_header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eee;
}

.main_header_mobile_menu {
    display: none;
    border: none;
    background: none;
}

.main_menu {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
}

.main_menu_item {
    margin-right: 25px;
    margin-left: 25px;
}

.main_menu_item:first-child {
    margin-left: 0;
}

.main_menu_item:last-child {
    margin-right: 0;
}

.main_menu_link {
    position: relative;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
}

.main_menu_link:hover {
    color: black;
}

.main_menu_link:hover::after {
    width: 100%;
}

.main_menu_link::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    left: 0;
    bottom: -7px;
    background-color: black;
    transition: all 0.3s;
}

.soc_links {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
}

.soc_links_item {
    margin-right: 12px;
    margin-left: 12px;
    height: 20px;
    width: 20px;
}

.soc_links_item:first-child {
    margin-left: 0;
}

.soc_links_item:last-child {
    margin-right: 0;
}

.left_bar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(100vh) rotate(-90deg);
    transform-origin: left top;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 80px 36px 70px;
    background-color: #eee;
}

.left_bar_logo {
    order: 1;
    width: 128px;
}

.left_bar_button {
    background: none;
    background-color: black;
    padding: 14px 22px 13px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    border: 2px solid black;
}

.left_bar_button:hover {
    background-color: #eee;
    color: black;
}

.first_screen {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/first_screen.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;

}


.first_screen_button {
    display: inline-block;
    background-color: white;
    padding: 14px 22px 13px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
    border-color: white;
}

.first_screen_button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.first_screen_heading {
    padding-top: 25vh;
    margin-bottom: 50px;
    width: 540px;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.first_screen_list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 50px;
}

.first_screen_item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
}

.first_screen_item::before {
    position: absolute;
    content: "";
    top: 7px;
    left: 0;
    width: 20px;
    height: 4px;
    background-color: white;
}

.row {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
}

@media (max-width: 3000px) {
    .first_screen_inner_wrapper {
        padding-bottom: 12px;
        padding-left: 250px;
    }


    @media (max-width: 1600px) {
        .first_screen_inner_wrapper {
            padding-left: 10vw;
        }
    }

    .first_screen_inner_wrapper {
        padding-bottom: 12px;
        padding-left: 250px;
    }
}

@media (max-width: 1400px) {
    .main_header {
        padding-left: 10vw;
    }

    .first_screen_inner_wrapper {
        padding-bottom: 12px;
        padding-left: 250px;
    }
}

@media (max-width: 1200px){
    .about_heading{
        text-align: right;
        padding-right: 30px;
    }
}


@media (max-width: 992px) {
    .left_bar_logo {
        order: 0;
    }

    .left_bar {
        position: static;
        transform: none;
        width: 100%;
        padding-top: 100px;
    }

    .first_screen_inner_wrapper {
        padding-left: 0;
    }

    .first_screen_heading {
        padding-top: 20vh;
    }

    .main_header {
        padding-left: 0;
        flex-wrap: wrap;
    }

    .main_menu_item:last-child {
        margin-right: 20px;
        margin-left: 20px;
    }

    .first_screen_inner_wrapper {
        padding-bottom: 12px;
        padding-left: 100px;
    }

    .about_heading {
        padding-right: 0;
        margin-bottom: 45px;
        text-align: center;
    }
}

@media (max-width: 768px) {

    .left_bar {
        padding-top: 110px;
    }

    .main_header_mobile_menu {
        display: block;
    }

    .main_menu {
        position: fixed;
        display: none;
        top: -100vh;
        left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100vw;
        height: auto;
        text-align: center;
        background-color: #eeeeee;
        transition: all 0.3s;
    }

    .main_menu_item {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .main_menu_link {
        font-size: 18px;
    }

    .first_screen_inner_wrapper {
        padding-bottom: 12px;
        padding-left: 100px;
    }
}

@media (max-width: 576px) {

    .first_screen_heading {
        padding-top: 15vh;
        text-align: center;
        font-size: 48px;
        width: auto;
    }

    .first_screen_inner_wrapper {
        padding-bottom: 12px;
        padding-left: 100px;
        display: flex;flex-direction: column;
    }


    .left_bar_button {
        padding: 14px 14px 13px;
    }

    .left_bar_logo {
        /*margin-left: 50px;*/
        margin-bottom: 30px;
    }

    .left_bar{
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.jsMenuVisually{
    top: 80px;
}
.about{
    margin-top: 120px;
}

.about_heading{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about_lead {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 600;
}

.about_paragraph {
    margin-bottom: 20px;
    font-size: 14px;
}

.category {
    margin-top: 120px;
}

.category_list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

}